# ANÁLISIS DE DATOS DEL MUNICIPIO DE MONTERREY – AÑO 2014

#### INTEGRANTES:
Alejandro Salazar

Gabriela Uquillas

In [1]:
%matplotlib inline
import pandas as pd

In [2]:
compras_df = pd.read_csv('data_export/clean_pago_anual.csv')

In [3]:
compras_df.head(4)

,FECHA,FACTURA,BENEFICIARIO,CONCEPTO,IMPORTE,FECHA DEL PAGO POR CADENAS,RFC
0,2014-01-31 00:00:00,388,"BUFETE URBANISTICO, S.A. DE C.V.",REHABILITACION PAVIMENTO ASFALTICO,"3,314,064.24",NaN,NaN
1,2014-01-31 00:00:00,339,GUERRERO SEGURA NESTOR,REHABILITACION GIMNASIO,"1,247,305.36",NaN,NaN
2,2014-01-31 00:00:00,77,"CONSTRUCCIONES DYNAMO, SA. DE CV.",CONST. CENTRO DE DESARROLLO DEPORTIVO,"1,521,090.52",NaN,NaN
3,2014-01-31 00:00:00,365,"CONSTRUCTORA JOMABE, SA. DE CV.",REHABILITACION GIMNASIO,"1,245,945.57",NaN,NaN

In [4]:
compras_df.dtypes

FECHA                         object
FACTURA                       object
BENEFICIARIO                  object
CONCEPTO                      object
IMPORTE                       object
FECHA DEL PAGO POR CADENAS    object
RFC                           object
dtype: object

## EXPANSIÓN DE LA FECHA

In [5]:
compras_df['FECHA'] = pd.to_datetime(compras_df['FECHA'])

In [6]:
compras_df['DIA']=compras_df['FECHA'].apply(lambda x: x.day)

In [7]:
compras_df['MES']=compras_df['FECHA'].apply(lambda x: x.month)

In [8]:
compras_df['ANIO']=compras_df['FECHA'].apply(lambda x: x.year)

## PROYECTAR UNA VARIABLE CON OTRA

In [9]:
concepto_sales=compras_df['CONCEPTO'].value_counts().to_dict()

In [10]:
list(concepto_sales.keys())[0:5]

['COMESTIBLES',
 'MANTENIMIENTO VEHICULAR',
 'PROMOCION DE OBRAS Y ACTIVIDADES MPALES',
 'PROMOCION DE ACTIVIDADES MUNICIPALES',
 'INDEMNIZACION DAÑOS A VEHICULO PARTICULAR']

In [11]:
compras_df['CONCEPTO_SALES']=compras_df['CONCEPTO'].apply(lambda x: concepto_sales[x])

In [12]:
compras_df.head(4)

,FECHA,FACTURA,BENEFICIARIO,CONCEPTO,IMPORTE,FECHA DEL PAGO POR CADENAS,RFC,DIA,MES,ANIO,CONCEPTO_SALES
0,2014-01-31,388,"BUFETE URBANISTICO, S.A. DE C.V.",REHABILITACION PAVIMENTO ASFALTICO,"3,314,064.24",NaN,NaN,31,1,2014,1
1,2014-01-31,339,GUERRERO SEGURA NESTOR,REHABILITACION GIMNASIO,"1,247,305.36",NaN,NaN,31,1,2014,11
2,2014-01-31,77,"CONSTRUCCIONES DYNAMO, SA. DE CV.",CONST. CENTRO DE DESARROLLO DEPORTIVO,"1,521,090.52",NaN,NaN,31,1,2014,9
3,2014-01-31,365,"CONSTRUCTORA JOMABE, SA. DE CV.",REHABILITACION GIMNASIO,"1,245,945.57",NaN,NaN,31,1,2014,11

In [13]:
compras_df.to_csv('data_export/compras_df_enriched.csv', index=None)