# ANÁLISIS DE DATOS DEL MUNICIPIO DE MONTERREY – AÑO 2014

#### INTEGRANTES:
Alejandro Salazar

Gabriela Uquilla

### CARGA DE DATOS

In [1]:
import pandas as pd

In [2]:
df_pagos_enero=pd.read_excel('data/ene.xlsx', skiprows=6)

In [3]:
df_pagos_febrero=pd.read_excel('data/feb.xlsx', skiprows=6)

In [4]:
df_pagos_marzo=pd.read_excel('data/mar.xlsx', skiprows=6)

In [5]:
df_pagos_abril=pd.read_excel('data/abril.xlsx', skiprows=6)

In [6]:
df_pagos_mayo=pd.read_excel('data/mayo.xlsx', skiprows=6)

In [7]:
df_pagos_junio=pd.read_excel('data/junio.xlsx', skiprows=6)

In [8]:
df_pagos_julio=pd.read_excel('data/julio.xlsx', skiprows=6)

In [9]:
df_pagos_agosto=pd.read_excel('data/agosto.xlsx', skiprows=6)

C:\Users\jossu\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [10]:
df_pagos_septiembre=pd.read_excel('data/sept.xlsx', skiprows=6)

In [11]:
df_pagos_octubre=pd.read_excel('data/oct.xlsx', skiprows=6)

In [12]:
df_pagos_noviembre=pd.read_excel('data/nov.xlsx', skiprows=6)

In [13]:
df_pagos_diciembre=pd.read_excel('data/dic.xlsx', skiprows=6)

In [14]:
df_pago_anual=pd.concat([df_pagos_enero, df_pagos_febrero, df_pagos_marzo, df_pagos_abril, df_pagos_mayo, df_pagos_junio, df_pagos_julio, df_pagos_agosto, df_pagos_septiembre, df_pagos_octubre, df_pagos_noviembre, df_pagos_diciembre])

C:\Users\jossu\AppData\Local\Temp\ipykernel_25356\1617455166.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_pago_anual=pd.concat([df_pagos_enero, df_pagos_febrero, df_pagos_marzo, df_pagos_abril, df_pagos_mayo, df_pagos_junio, df_pagos_julio, df_pagos_agosto, df_pagos_septiembre, df_pagos_octubre, df_pagos_noviembre, df_pagos_diciembre])

In [15]:
df_pago_anual.head(5)

,FECHA,FACTURA,BENEFICIARIO,CONCEPTO,IMPORTE,FECHA DEL PAGO POR CADENAS,RFC
0,OBRA PUBLICA Y RECURSOS ETIQUETADOS,NaN,NaN,NaN,NaN,NaT,NaN
1,2014-01-31 00:00:00,388,"BUFETE URBANISTICO, S.A. DE C.V.",REHABILITACION PAVIMENTO ASFALTICO,"3,314,064.24",NaT,NaN
2,2014-01-31 00:00:00,339,GUERRERO SEGURA NESTOR,REHABILITACION GIMNASIO,"1,247,305.36",NaT,NaN
3,2014-01-31 00:00:00,77,"CONSTRUCCIONES DYNAMO, SA. DE CV.",CONST. CENTRO DE DESARROLLO DEPORTIVO,"1,521,090.52",NaT,NaN
4,2014-01-31 00:00:00,365,"CONSTRUCTORA JOMABE, SA. DE CV.",REHABILITACION GIMNASIO,"1,245,945.57",NaT,NaN

### LIMPIEZA DE DATOS

In [16]:
len(df_pago_anual)

9041

In [17]:
df_pago_anual_com = df_pago_anual.dropna(thresh=len(df_pago_anual.columns) - 5)

In [18]:
len(df_pago_anual_com)

8982

In [19]:
df_pago_anual_com.dtypes

FECHA                                 object
FACTURA                               object
BENEFICIARIO                          object
CONCEPTO                              object
IMPORTE                               object
FECHA DEL PAGO POR CADENAS    datetime64[ns]
RFC                                   object
dtype: object

In [20]:
df_pago_anual_com['FECHA'].apply(lambda x: x.month).value_counts()

FECHA
2     1368
7     1028
12    1024
3      988
9      821
10     815
11     744
5      645
1      456
8      387
6      377
4      329
Name: count, dtype: int64

In [21]:
df_pago_anual_com.head(10)

,FECHA,FACTURA,BENEFICIARIO,CONCEPTO,IMPORTE,FECHA DEL PAGO POR CADENAS,RFC
1,2014-01-31 00:00:00,388,"BUFETE URBANISTICO, S.A. DE C.V.",REHABILITACION PAVIMENTO ASFALTICO,"3,314,064.24",NaT,NaN
2,2014-01-31 00:00:00,339,GUERRERO SEGURA NESTOR,REHABILITACION GIMNASIO,"1,247,305.36",NaT,NaN
3,2014-01-31 00:00:00,77,"CONSTRUCCIONES DYNAMO, SA. DE CV.",CONST. CENTRO DE DESARROLLO DEPORTIVO,"1,521,090.52",NaT,NaN
4,2014-01-31 00:00:00,365,"CONSTRUCTORA JOMABE, SA. DE CV.",REHABILITACION GIMNASIO,"1,245,945.57",NaT,NaN
5,2014-01-31 00:00:00,161A,"GRUPO CONSTRUCTOR PETREO, SA. DE CV.",REHABILITACION GIMNASIO,"1,038,065.36",NaT,NaN
6,2014-01-31 00:00:00,A84,"EDIFICACION URBANA CONTEMPORANEA, SA. DE CV.","CONST. DE CANCHA, VITAPISTA Y GIMNASIO","2,265,788.94",NaT,NaN
7,2014-01-31 00:00:00,A89,"EDIFICACION URBANA CONTEMPORANEA, SA. DE CV.",CONST. CANCHA DE FUTBOL RAPIDO,"449,868.54",NaT,NaN
8,2014-01-31 00:00:00,B1432,"PAVIMENTOS DESARROLLOS Y CONSTRUCCIONES, SA. D...",ADECUACIONES EN CIUDAD DEPORTIVA,"1,010,972.31",NaT,NaN
9,2014-01-31 00:00:00,A63,"ALCALA URBANIZACIONES, SA. DE CV.",REGENERACION DE LA CALLE OCAMPO,"1,436,941.38",NaT,NaN
10,2014-01-31 00:00:00,A64,"ALCALA URBANIZACIONES, SA. DE CV.",REGENERACION DE LA CALLE OCAMPO,"1,502,828.05",NaT,NaN

In [22]:
df_pago_anual_com.to_csv('Cclean_pago_anual.csv', index=None)